* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo span{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
}
.open{
    display: flex !important;
}
.header1 {
    display: flex; 
    justify-content: space-between; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.585), transparent), url('../images/header.webp');     
    background-size: cover; 
    background-position: center; 
    height: 800px; 
    padding: 20px 30px; 
    color: white; 
}
.header2 {
    display: flex; 
    justify-content: space-between; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url('../images/cycling.webp');     
    background-size: cover; 
    background-position: center; 
    height: 420px; 
    padding: 20px 30px; 
    color: white; 
}
.nav1,
.nav2 {
    display: none; 
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
    padding: 50px 40px;
    background-color: rgba(48, 48, 48, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    overflow-y: auto;
}
.nav1 ul,
.nav2 ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: start;
    gap: 10px; 
    padding: 0;
}
.nav1 ul li,
.nav2 ul li {
    margin: 0; 
    padding: 0; 
}
.nav1 img,
.nav2 img {
    width: 24px;
    height: 24px;
}
.nav1 a,
.nav2 a  {
    text-decoration: none; 
    color: white; 
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.nav1 a:hover,
.nav2 a:hover {
    font-weight: bolder;
    color: white; 
}
.nav1 ul li a {
    white-space: nowrap;
}
.nav2 ul li a {
    white-space: nowrap;
}
.menu-icon{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.menu-icon span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
}
.menu-icon::before, .menu-icon::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
}
.menu-icon::before{
    top: 0;
}
.menu-icon::after{
    bottom: 0;
}
.menu-icon.active span {
    transform: scale(0);
}
.menu-icon.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.menu-icon.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
.menu-icon{
    display: flex;
}
.title1 {
    position: absolute;
    top: 60px;
    left: auto;
    max-width: 500px;
    text-align: center;
    height: 800px;
    padding: 60px 0;
}
.title1 h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Geologica', sans-serif;
}
.title1 p {
    position: relative;
    top: 30px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.title2 {
    /* position: absolute;
    top: 90px;
    left: 600px; */
    margin-top: 100px;
    margin-right: 600px;
    max-width: 500px;
    text-align: center;
    height: 800px;
    padding: 60px 0;
}
.title2 h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Geologica', sans-serif;
}
.learn-more {
    position: relative;
    top: 130px;
    width: 230px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border: none;
}
@keyframes burgerAnimation {
    from {
        opacity: 0;
    }
    to{
        opacity: 2;
    }
}  
.info {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    background-color: #000;
    padding: 60px;
    gap: 30px; 
}
.info-item {
    text-align: center; 
    width: 250px;
    padding: 20px;
}
.info-item h3 {
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
    margin: 15px 0;
}
.info-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px; 
    background-image: url('../images/sprites.png'); 
    background-repeat: no-repeat;
    background-size: 60px 60px; 
    background-color: white;
    border-radius: 50%; 
}
.icon-equipment {
    background-position: 5px 5px; 
    background-size: 90px;
    background-color: white;
    border-radius: 50%;
}
.icon-pool {
    background-position: -40px 12px; 
    background-size: 90px;
    background-color: white;
    border-radius: 50%;
}
.icon-training {
    background-position: 10px -40px; 
    background-size: 90px;
    background-color: red;
    border-radius: 50%;
}
.class-cardio {
background-image: url('../images/classes1.jpg');
}
.class-weight {
background-image: url('../images/classes2.jpg');
}
.class-boxing {
background-image: url('../images/classes3.jpg');
}
.classes h2 {
    font-family: 'Geologica', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.classes p{
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    font-size: 15px;
    margin-bottom: 40px;
    color: #b5b5b5;
}
.classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 40px; 
    justify-items: center; 
}
.class-item {
    width: 250px; 
    height: 250px; 
    background-size: cover; 
    background-position: center; 
    position: relative; 
    overflow: hidden; 
}
.class-info {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: white; 
    padding: 10px; 
    display: flex;
    align-items: center; 
}
.class-info span {
    font-family: 'Geologica', sans-serif;
    width: 18px;
    height: 18px;
    font-weight: bold;
    color: red;
}  
.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    background-color: black;
    color: white;
    margin-top: 200px;
}
.testimonial-image {
    background-image: url('../images/trainer1.png'); 
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    position: relative;
    top: -150px;
    left: 10px;
}
.testimonial-content {
    text-align: center;
    margin-right: 35px;
    margin-top: -250px;
}
.quote-icon {
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    color: red;
    display: inline-block;
    margin-bottom: 20px; 
}
.testimonial-text {
    font-family: 'Geologica', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 20px;
}
.testimonial-author {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.testimonial-role {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
} 
.video-section {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 60vw; 
    max-height: 600px;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), 
        url('../images/gym.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button {
    width: 10vw; 
    height: 10vw;
    max-width: 60px; 
    max-height: 60px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.play-button:hover {
    transform: scale(1.1);
}
.play-button::before {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 12px 0 12px 18px; 
    border-color: transparent transparent transparent white;
    margin-left: 8px; 
    border-radius: 2px; 
}
.trainers {
    text-align: center;
    padding: 120px 20px 50px 20px;
    color: white;
}
.trainers h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Geologica', sans-serif;
}
.trainers .description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 300px;
    margin: 0 auto 30px;
}
.trainer-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: flex-end;
}
.trainer {
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.trainer-photo {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 10px;
}
.trainer1 {
    background-image: url('../images/trainer2.png');
    width: 516px;
    height: 516px;
    position: relative;
    left: -210px;
}
.trainer2 {
    background-image: url('../images/trainer3.png');
    width: 560px;
    height: 561px;
    position: relative;
    left: -500px;
}
.trainer3 {
    background-image: url('../images/trainer4.png');
    width: 516px;
    height: 516px;
    position: relative;
    right: -70px;
    position: relative;
}
.trainer h3 {
    font-family: 'Geologica', sans-serif;
    font-size: 24px;
    margin: 10px 0 5px;
    white-space: nowrap; 
}
.trainer p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.icon1 {
    width: 24px;
    height: 24px;
    background-image: url('../images/sprites2.png');
    background-size: 72px 24px;
    background-color: red;
    border-radius: 50%;
}
.icon1.facebook {
    background-position: -28px 0;
}
.icon1.twitter {
    background-position: -90px -2px;
    background-size: 120px 40px;
}
.icon1.instagram {
    background-position: -3px 0;
}
.image-container {
    flex: 1;
    height: 250px;
    width: 250px; 
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), 
    url('../images/muscles.jpg');
    background-size: cover;
    background-position: center;
}
.image-block{
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 250px;
    width: 250px; 
}
.info-block {
    display: flex;
    align-items: center;
    padding: 50px;
    height: 500px;
    margin: auto;
    background-color: #000;
}
.content {
    flex: 1;
    margin: 0 0 0 70px;
    width: 300px;
    text-align: center;
}
.content h2 {
    font-family: 'Geologica', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.content p {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin-bottom: 40px;
    color: #ccc;
}
/* .info-container{
    width: 550px;
} */
.stats {
    display: flex;
    gap: 50px;
    column-gap: 100px;
    flex-wrap: wrap;
}
.stat-item {
    text-align: center;
}
.stat-item .number {
    font-family: 'Geologica', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #e50914;
}
.stat-item .label {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #ccc;
    margin-left: 20px;
}
@media (min-width: 900px) {
    .header1, .header2{
        display: flex;
        padding: 10px 60px; 
        align-items: flex-start;
    }
    .menu-icon{
        display: none;
    }
    .header1 .logo {
        position: fixed;
        z-index: 1000;
    }
    .logo span {
        margin-top: 20px; 
        margin-right: 400px;
    }
    .logo{
        display: flex;
        align-items: center; 
        gap: 10px; 
    }
    .logo img{
        width: 40px;
        height: 40px;
    }
    .nav1, .nav2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        overflow: hidden;
        margin-top: -320px;
        margin-left: 270px;
    }
    .nav1 ul, .nav2 ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
    .nav1 ul li:nth-last-child(3),
    .nav2 ul li:nth-last-child(3)  {
        margin-right: 360px; 
    }
    .nav1 img, .nav2 img {
        width: 20px;
        height: 20px;
    }    
    .title1 {
        position: absolute;
        top: 60px;
        left: 60px;
        max-width: 800px;
        text-align: left;
        height: 800px;
        padding: 60px 0;
    }
    .title1 h1 {
        font-size: 70px;
        font-weight: 600;
        font-family: 'Geologica', sans-serif;
    }
    .title1 p {
        position: relative;
        top: 30px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .learn-more {
        position: relative;
        top: 130px;
        width: 230px;
        height: 50px;
        background-color: red;
        color: white;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        border: none;
    }
    .info {
        display: flex;
        justify-content: space-around;
        background-color: #000;
        padding: 60px 72px;
        color: white;
    }
    .info-item {
        text-align: left;
        width: 280px;
    }
    .icon {
        position: relative;
        top: 50px;
        left: -170px;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background-image: url('../images/sprites.png'); 
        background-size: 60px 60px; 
    }
    .icon-equipment {
        background-position: 5px 5px; 
        background-size: 90px;
        background-color: white;
        border-radius: 50%;
    }
    .icon-pool {
        background-position: -40px 12px; 
        background-size: 90px;
        background-color: white;
        border-radius: 50%;
    }
    .icon-training {
        background-position: 10px -40px; 
        background-size: 90px;
        background-color: red;
        border-radius: 50%;
    }
    .classes {
        text-align: center;
        padding: 50px 20px;
    }
    .classes h2 {
    font-size: 36px;
    }
    .classes p {
    font-size: 18px;
    }
    .classes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    }
    .class-item {
    width: 416px;
    height: 416px;
    }
    .class-info {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    }
    .class-info h3 {
    font-family: 'Geologica', sans-serif;
    font-weight: 600;
    font-size: 24px;
    }
    .class-info span {
    width: 24px;
    height: 24px;
    }   
    .testimonial-section{
        height: 874px;
        margin-top: 0;
    }
    .testimonial-image {
        margin-left: 50px;
        width: 694px;
        height: 694px;
        position: relative;
        top: 0;
        left: -90px;
    }
    .testimonial-content {
        width: 578px;
        height: 399px;
        text-align: center;
        margin-top: 0;
    }
    .quote-icon {
        font-size: 100px;
    }
    .testimonial-text{
        font-size: 28px;
    }
    .testimonial-author{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .testimonial-role {
        font-size: 16px;
    }
    .trainers h2 {
        font-size: 50px;
    }
    .trainers .description {
        max-width: 500px;
    }
    .info-block {
        height: 816px;
    }
    .image-container {
        height: 636px;
        width: 636px; 
    }
    .image-block{
        height: 636px;
        width: 636px; 
    }
    .content {
        text-align: left;
        width: 510px;
        margin: 0 0 0 140px;
    }
    .content h2 {
        font-size: 50px;
    }
    .content p {
        font-size: 16px;
    }
    .stat-item .number {
        font-size: 60px;
    }
    .stat-item .label {
        font-size: 24px;
    }
    .banner {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent), url('../images/studio.jpg'); 
        background-size: cover; 
        background-position: center;
        height: 480px; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
    }
    .banner-content {
        padding: 20px;
    }
    .banner h2 {
        font-size: 50px; 
        font-weight: 800;
        max-width: 700px;
        margin-bottom: 30px;
        margin-top: -40px;
        text-align: center;
        font-family: 'Geologica', sans-serif;
    }
    .banner p {
        font-size: 16px; 
        margin-bottom: 20px;
        font-family: 'Inter', sans-serif;
    }
    .banner-button {
        background-color: red; 
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: 600;
        width: 230px;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        font-family: 'Inter', sans-serif;
        border: none;
    }
    .footer {
        background-color: #000;
        color: white;
        padding: 40px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }
    .footer .logo {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 28px;
    }
    .footer-section.newsletter {
        margin-top: 120px;
        max-width: 272px;
        margin-left: 60px;
    }
    .footer-section.opening-hours{
        max-width: 179px;
        margin-top: -5px;
    }
    .footer-section.locations{
        margin-top: 120px;
        max-width: 320px;
        margin-right: 60px;
    }
    .footer h3 {
        font-family: 'Geologica', sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .footer p, .footer a {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: white;
    }
        .footer-logo {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    .newsletter-form {
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        margin-bottom: 15px;
        gap: 10px;
    }
    .newsletter-form input {
        padding: 10px;
        border: none;
        border-radius: 0;
        outline: none;
        font-size: 16px;
        background-color: transparent;
        color: white;
    }
    .newsletter-form input::placeholder {
        color: #999;
    }
    .newsletter-form button {
        background-image: url('../images/send.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .privacy-policy {
        font-family: 'Inter', sans-serif;
        margin-top: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #999;
    }
    .privacy-policy input {
        margin-right: 5px;
    }
    .privacy-policy a {
        color: #ffffff;
        text-decoration: underline;
    }
    .privacy-policy a:hover {
        color: white;
    }
    .custom-checkbox input[type="checkbox"] {
        display: none;
    }
    .custom-checkbox {
        display: inline-block;
        cursor: pointer;
    }
    .custom-checkbox .checkmark {
        display: inline-block;
        width: 18px; 
        height: 18px; 
        border-radius: 3px; 
        background-color: #000; 
        border: 2px solid #808080;
        box-sizing: border-box;
        position: relative;
    }
    .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
        content: '✔'; 
        position: absolute;
        left: -1px;
        top: -5px;
        font-size: 18px;
        color: white; 
    }
    .opening-hours p {
        margin-bottom: 15px;
    }
    .opening-hours p strong {
        font-family: 'Geologica', sans-serif;
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .opening-hours .time {
        font-family: 'Inter', sans-serif;
        display: block;
        color: white;
        opacity: 0.8;
        font-weight: normal; 
    }
    .locations p {
        margin-bottom: 15px;
    }
    .locations p strong {
        font-family: 'Geologica', sans-serif;
        display: block;
        font-weight: 700;
    }
    .locations .address {
        display: block;
        margin-top: 5px; 
        font-family: 'Inter', sans-serif;
        font-weight: normal; 
        color: white;
        opacity: 0.8;
    }
    .copyright {
        font-family: 'Geologica', sans-serif;
        text-align: left;
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
        opacity: 0.7;
        margin-left: 60px;
    }   
    /* Загальні стилі секції */
.pricing-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #000;
    color: white;
}

/* Стиль лівої частини (інформація) */
.pricing-info h2 {
    font-size: 50px;
    font-weight: 600;
}

.feature-list {
    margin-top: 20px;
}

.feature {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.checkmark {
    font-size: 24px;
    color: #e50914;
    margin-right: 15px;
}

.feature-content h3 {
    font-size: 18px;
    font-weight: 500;
}

.feature-content p {
    font-size: 14px;
    color: #ccc;
}

/* Стиль правої частини (карти цін) */
.pricing-cards {
    display: flex;
    gap: 20px;
}

.pricing-card {
    background-color: #fff;
    color: #000;
    padding: 30px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

.dark-card {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.pricing-card h3 {
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-size: 40px;
    color: #e50914;
    margin: 20px 0;
}

.price span {
    font-size: 20px;
}

.benefits {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.benefits li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #e50914;
}

/* Стиль кнопок */
.btn {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
 
}